<div class="container">
  <div class="heading">
    <p>{{userSelectedDirectiveName}}</p>
  </div>

  <!-- password hide and show section -->
  <div class="pass-container" *ngIf="userSelectedDirective == 'hideAndShowPassword'">
    <label>Enter password</label>
    <div class="pass">
      <input type="password" [(ngModel)]="password" showHidePassoword>
    </div>
  </div>

  <!-- deboucne section -->
  <div class="search-container" *ngIf="userSelectedDirective == 'debounce'">
    <label>Search</label>
    <div class="search">
      <input type="text" placeholder="Enter keyword">
    </div>
  </div>

</div>
